{% if users %}
    <ul>
    <form action="{% url 'verify' %}" method="POST">
        {% csrf_token %}
        {% for u in users %}
            <li>
                <table>
                    <tr>
                        <td>
                            {% if not u.validated %}
                            <input type="checkbox" name="verify" id="verify_{{ forloop.counter }}" value="{{ u.id }}">
                            {% else %}
                            <input type="checkbox" name="verify" id="verify_{{ forloop.counter }}" value="{{ u.id }}" disabled>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'detail' u.id %}">{{ u.username }}</a>
                        </td>
                    </tr>
                </table>
            </li>
        {% endfor %}
        <br>
        <input type="submit" value="Verify">
    </form>
    </ul>
{% else %}
    <p>No users are registered.</p>
{% endif %}